body{
    font-family: Arial, sans-serif;
    
    background-color: #72e0ad;
}
label{
    display: block;
    margin-top: 1rem;
}
.formulario{
    margin: 2rem;
    padding: 2rem;
}
input{
    border-radius: 0.2rem;
    border-color: black;
}
